h1 Central Service
p Use the API endpoints that follow:
pre
    ul
        li /api/crl
        li /api/batches/:id
h2 Examples 
p 
    ul 
        li 
            a(href='/api/crl') /api/crl
        li 
            a(href='/api/batches/bf2cbcc2-415b-11ec-ba1c-0242ac130002') /api/batches/bf2cbcc2-415b-11ec-ba1c-0242ac130002
include includes/footer.pug